<% content_for :title, "お問い合わせ" %>
<div class="container mt-56">
  <h1>お問い合わせ</h1>
  <hr class="mt-2">
  <p class="mt-5 fs-3">Malt Mateに関するお問い合わせ、不具合の報告などございましたら、以下のTwitterアカウントまでご連絡ください。（DMもしくはリプライにて）</p>
  <p class="mt-1 fs-3">ご感想、不具合のご報告なども頂けますと幸いです！</p>
  <%= link_to "https://twitter.com/darutani0913", class: "btn icon-twitter mt-4", target: "_blank", rel: "noopener noreferrer" do %>
    <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
    @darutani0913
  <% end %>
</div>
