.search-title {
  font-size: 3.2rem;
}

.search-title-item {
  font-size: 2.6rem;
  text-align: center;
  margin: 50px 0 30px;

  a:hover {
    opacity: 0.9;
    color: $color-fourth;
  }
}

.active-link {
  font-weight: bold;
  border-bottom: solid 5px #393E46;
}

.inactive-link {
  opacity: 0.5;
}
