html {
  font-size: 62.5%;
}

body {
  background-color: $color-first;
  color: $color-fourth;
  padding-top: 57px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

a {
  text-decoration: none;
  color: $color-fourth;
}

a:hover {
  color: $color-fourth;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

hr {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  padding: 20px 32px 70px;
}
