<% if flash[:error] %>
  <div id="error_explanation" class="my-5 text-danger text-center fw-bold">
    <ul class="list-unstyled fs-4">
      <% flash[:error].each do |message| %>
        <li class="mt-2"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
