<footer>
  <hr>
  <div class="logo">
    <%= image_tag "logo.jpg", size: "200x70" %>
  </div>
  <div class="info">
    <p class="info-title">INFORMATION</p>
    <P class="info-content">お問い合わせ</P>
    <P class="info-content">利用規約</P>
    <P class="info-content">プライバシーポリシー</P>
  </div>
  <div class="copyright">
    <P>Copyright © 2023. OshiGadge</P>
  </div>
</footer>
