<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">推しガジェ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">マイページ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ガジェット登録</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ユーザー一覧</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">新着投稿一覧</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">アカウント情報</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ログアウト</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">お問い合わせ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
