// 一覧の詳細へのリンクボタン
.detail-link-container {
  padding: 0 15px;
  margin: 10px 0;

  .detail-link {
    display: block;
    background-color: $color-fourth;
    text-align: center;
    border-radius: 5px;
    color: $color-second;
    font-size: 1.3rem;
  }
}

// 一覧ページへのリンクボタン
.list-link-container {
  // padding: 0 15px;

  .list-link {
    display: block;
    background-color: $color-second;
    text-align: center;
    padding: 12px 0;
    color: $color-fourth;
    font-size: 1.5rem;
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
  }
}

// formのボタン
.actions {

  .btn {
    background-color: $color-fourth;
    color: $color-first;
    height: 4.5rem;
    font-size: 2rem;
    font-weight: 550;
  }
}

// ガジェット詳細画面の編集ボタン
.edit-btn-container {
  padding: 0 25px;

  .edit-btn {
    display: block;
    background-color: $color-fourth;
    text-align: center;
    border-radius: 5px;
    color: $color-second;
    font-size: 1.5rem;
    padding: 8px 0;
  }
}

// マイページのプロフィール編集ボタン
.edit-profile-btn-container {

  .edit-profile-btn {
    background-color: $color-third;
    text-align: center;
    border-radius: 5px;
    color: $color-first;
    font-size: 1.1rem;
    padding: 3px 9px;
  }
}

// ガジェットの新規登録ボタン
.gadget-new-registration-btn-container {
  text-align: right;

  .gadget-new-registration-btn {
    background-color: $color-third;
    text-align: center;
    border-radius: 30px;
    color: $color-first;
    font-size: 1.2rem;
    font-weight: 550;
    padding: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 990;
  }
}
