.title {
  background-image: url('background.jpg');
  background-size: cover;
  background-position:center center;

  .title-wrapper {
    padding: 20px 32px;

    .app-name {
      text-align: center;

      h1 {
        font-size: 4.0rem;
        margin-bottom: 0;
      }

      h4 {
        font-size: 2.0rem;
      }
    }

    .description {
      padding-top: 15rem;
      text-align: center;

      p {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
      }
    }
  }
}

// registration-and-login
.registration-and-login {
  padding-top: 15px;
  padding-bottom: 40px;

  .registration-button {
    text-align: center;
    padding-bottom: 20px;

    .registration {
      font-size: 19px;
    }
  }

  .login-button {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;

    .login {
      font-size: 19px;
    }

    .guest-login {
      font-size: 16px;
    }
  }

  .btn {
    background: #393E46;
    color: #F7F7F7;
    width:  130px;
    height: 40px;
  }
}

// new-posts
.new-posts {
  padding: 20px 32px;

  .new-posts-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-weight: bold;
      font-size: 1.8rem;
      margin: 0;
    }

    a {
      color: #679EF1;
      font-size: 1.2rem;
    }
  }

  .post {
    background-color: #EEEEEE;
    padding: 7px;
    margin: 15px 0;

    .post-container {
      display: flex;
      justify-content: space-between;

      a {
        color: #393E46;
      }

      .user-info {
        display: flex;
        align-items: center;

        .icon-image {
          display: inline-block;
          width: 37px;
          height: 37px;
          border-radius: 50%;
          overflow: hidden;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .user-content {
          margin-left: 8px;

          p {
            margin: 0;
            font-size: 1rem;
          }

          .user-name {
            font-weight: bold;
            font-size: 1.3rem;
          }
        }
      }

      .gadget-name {
        font-size: 1.7rem;
        margin-top: 8px;
        margin-bottom: 3px;
        padding-left: 5px;
      }

      .gadget-category {
        border-radius: 20px;
        display: inline-block;
        background-color: #929AAB;
        color: #F7F7F7;
        padding: 2px 10px;
        font-size: 1.2rem;
        margin-left: 5px;
      }
    }

    .post-button {
      padding: 0 15px;
      margin: 10px 0;

      p {
        background-color: #393E46;
        text-align: center;
        border-radius: 5px;

        a {
          color: #EEEEEE;
          font-size: 1.3rem;
        }
      }
    }
  }

  .post-list-link {
    padding: 0 15px;

    p {
      background-color: #EEEEEE;
      text-align: center;
      padding: 8px 0;

      a {
        color: #393E46;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}

// users-index
.users-index {
  padding: 20px 32px;

  .users-index-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-weight: bold;
      font-size: 1.8rem;
      margin: 0;
    }

    a {
      color: #679EF1;
      font-size: 1.2rem;
    }
  }

  .users-list .user-container {
    background-color: #EEEEEE;
    padding: 7px;
    margin: 15px 0;

    a {
      color: #393E46;
    }

    .user-info {
      display: flex;
      align-items: center;

      .icon-image {
        display: inline-block;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        overflow: hidden;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .user-content {
        margin-left: 10px;

        p {
          margin: 0;
          font-size: 1.5rem;
        }
      }
    }

    .gadget-image {
      margin: 12px 0;

      a + a {
        margin-left: 7px;
      }
    }

    .user-button {
      padding: 0 15px;
      margin: 10px 0;

      p {
        background-color: #393E46;
        text-align: center;
        border-radius: 5px;

        a {
          color: #EEEEEE;
          font-size: 1.3rem;
        }
      }
    }
  }

  .user-list-link {
    padding: 0 15px;

    p {
      background-color: #EEEEEE;
      text-align: center;
      padding: 8px 0;

      a {
        color: #393E46;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}
