// logout
.navbar-toggler-icon {
  width: 3rem;
  height: 3rem;
}

.humberger-wrapper ul {
  background-color: #929AAB;
  margin-right: 3px;
  padding: 10px 15px;
}

.humberger-wrapper ul li {
  margin: 15px 4px;
}

.humberger-wrapper ul li a {
  color: #F7F7F7;
  font-size: 1.5rem;
}


// login
.avatar-wrapper ul {
  background-color: #393E46;
  margin-right: 3px;
}

.avatar-wrapper ul li {
  margin: 10px 4px;
}

.avatar-wrapper ul li a {
  color: #F7F7F7;
  font-size: 1.5rem;
}
