<p><%= @resource.name %>　様</p>

<p>「OshiGadge −推しガジェ−」におけるパスワード再発行のご依頼を受け付けました。</p>
<p>以下リンクからパスワードの再発行を行ってください。</p>

<p><%= link_to edit_user_password_url(@resource, reset_password_token: @token), edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>上記のリンクにアクセスし、新しいパスワードを作成するまで、パスワードは変更されません。</p>
<p>※リンクの有効期限は24時間です。</p>
<p>このメールに心当たりがない場合には、このメールを無視してください。</p>
